* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.flexEx .flex-m {
    margin: 0px 80px;
}

.flexEx .flex-p {
    padding: 80px 0px;
}

.flexEx .FlexBox {
    display: flex;
    align-items: center;
    gap: 30px
}

.flexEx .FlexBox .leftSide {
    flex: 1;
}

.flexEx .FlexBox .leftSide img {
    height: auto;
    max-width: 100%;
}

.flexEx .FlexBox .rightSide {
    flex: 1;
    padding: 40px;
}

.flexEx .FlexBox .rightSide .title {
    background-color: #8845e5;
    color: white;
    text-transform: uppercase;
    padding: 6px 10px;
    width: fit-content;
    border-radius: 3px;
    letter-spacing: 1px;
}

.flexEx .FlexBox .rightSide h1 {
    font-size: 40px;
    margin: 10px 0px;
}

.flexEx .FlexBox .rightSide p {
    color: gray;
    line-height: 23px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.flexEx .FlexBox .rightSide button {
    height: 45px;
    width: fit-content;
    padding: 0px 20px;
    background-color: #8845e5;
    color: white;
    border: 2px solid #8845e5;
}

.flexEx .FlexBox .rightSide button:hover {
    background-color: white;
    color: #8845e5;
}