@media (max-width:576px) {
    .container{
        margin:0px 15px;
    }
    header .navbar .nav-bar{
        display: none;
    }
    header .navbar .bars .menubar{
        display: block;
    }
    /* ============================= */
    .homepage .hometext h1{
        font-size: 40px;
    }
    .homepage .homep{
        padding: 100px 0px;
    }
    /* ================= */
    .learnSec .learnBox{
        flex-direction: column;
    }
    .learnSec .learnBox .learnBoxLeft h1{
        font-size: 30px;
    }
    .learnSec .learnBox .learnBoxLeft .learnDesign{
        grid-template-columns: repeat(1,1fr);
    }
}