@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu",sans-serif;
}
/* === common css == */
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.container{
    margin:0px 80px;
}
/* =========== header =============  */
header{
    background-color: cornflowerblue;
}
header .headerp{
    padding: 15px 0px;
}
header .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .navbar .logo h1{
    color: white;
}
header .navbar .nav{
    display: flex;
    gap:30px;
    align-items: center;
}
header .navbar .nav-bar{
    display: flex;
    gap:30px;
    align-items: center;
}
header .navbar .nav-bar ul{
    display: flex;
    gap:24px;
    align-items: center;
}
header .navbar .nav-bar ul li{
    padding: 5px;
}
header .navbar .nav-bar ul li a{
    color: white;
    transition: 0.5s ease all;
}
header .navbar .nav-bar ul li span{
    color: white;
    font-size: 12px;
    transition: 0.5s ease all;
}
header .navbar .nav-bar ul li a.active{
    color: #f50537;
}
header .navbar .nav-bar ul li a:hover{
    color: #f50537;
}
header .navbar .nav-bar ul li:hover span{
    color: #f50537;
}
header .navbar .nav-bar .search{
    display: flex;
    align-items: center;
}
header .navbar .nav-bar .search input[type="text"]{
    height: 40px;
    width: 185px;
    padding: 0px 8px;
    border-radius: 40px 0 0 40px;
    border: none;
}
header .navbar .nav-bar .search input[type="text"]::placeholder{
    font-size: 15px;
}
header .navbar .nav-bar .search input[type="text"]:focus-within{
    outline: none;
}
header .navbar .nav-bar .search button{
    height : 40px;
    width: 40px;
    color :white;
    background-color: #f50537;
    border:none;
    border-radius: 0 40px 40px 0;
}
header .navbar .bars{
    display: flex;
    gap: 20px;
    align-items: center;
}
header .navbar .bars span{
    color: white;
    font-size: 20px;
}
header .navbar .bars .menubar{
    display: none;
}
header .navbar .bars button{
    height: 40px;
    width: 40px;
    color :white;
    background-color: #f50537;
    border:none;
}